
/*
  ##Device = Desktops
  ##Screen = 1281px to higher resolution desktops
*/

@media (min-width: 1281px) {
  .navigation__hamburger__container{
    display: none;
    }
  }
  
  /*
    ##Device = Laptops, Desktops
    ##Screen = B/w 1025px to 1280px
  */
  
  @media (min-width: 1024px) and (max-width: 1280px) {
    /*top*/
    header{
      width: 100vw;
    }

    .navigation_title{
      margin: 0;
    }

    .navigation_menu{
      margin: 0 130px 0 130px;
    }

    .navigation__hamburger__container{
      display: none;
      }
    /*hero images*/
    .hero-images-container, .hero_images{
      width: 100%;
      height: 377px;
      margin:30px 0 30px 55px;
    }
    
    .images_box{
      height: 377px;
    }
    
    .box1{
      width: 380px;
      height: 350px;
    }

    .box1 img{
      width: 100%;
      height: 100%;
    }

    .box2, .box3, .box4, .box5{
      width: 245px;
      height: 165px;
    }
    
    .box2 img,.box3 img,.box4 img, .box5 img{
      width:100%;
      height: 100%;
    }

    .category{
      margin: 10px 0 0 10px;
    }

    /*articles*/
    .main_aricles {
      margin: 0 120px 0 230px;
    }
    .article1, .article2, .article3, .article4, .article5, .article_images_container, .article_images{
      min-width: 640px;
      max-height: 370px;
    }

    .description_article-1, .description_article-2, .description_article-3,.description_article-4, .description_article-5{
      width: 600px;
      height: 200px;
      top: 270px;
    }

    .description_article-1 h2 , .description_article-2 h2,.description_article-3 h2, .description_article-4 h2, .description_article-5 h2{
      width: 550px;
      padding-top:40px;
      font-size: 20px;
    }

    .description_article-1 h6 , .description_article-2 h6,.description_article-3 h6, .description_article-4 h6, .description_article-5 h6{
      font-size: 12px;
    }

    .description_article-1 h5 , .description_article-2 h5,.description_article-3 h5, .description_article-4 h5, .description_article-5 h5{
      font-size:13px;
      height:50px;
      line-height: 20px;
      width: 580px;
    }

    /*pagination*/
    .pagination_container{
      margin-left:120px ;
    }
    /*sidebar*/
    .sidebar_container{
      display: none;
    }
    .aricles-and-sidebar{
      display: flex;
      justify-content: center;
      align-items: center;
      margin: 0 auto 0 auto;
    }

    /*most popular*/
    .title_most_popular_post{
      margin-left: 120px;
    }

    .most_popular_posts{
      width: 800px;
     margin: 10px 110px 0 110px;
    }

    .post{
      max-width: 200px;
      max-height: 160px;
      margin: 0 10px;
    }

    .popular_images{
      width: 100%;
      height: 100%;
    }

    .post h2{
      font-size: 15px;
    }

    .post h6{
      font-size: 12px;
      height: 12px;
    }

     /*footerr*/
     .recent_post_container{
       display: none;
     }

     .logotype_and_icons{
       margin-right: 240px;
     }

     .footer_copy{
       margin-right: 190px;
     }
  }
  
  /* 
    ##Device = Tablets, Ipads (portrait)
    ##Screen = B/w 768px to 1024px
  */
  
  @media (min-width: 768px) and (max-width: 1023px) {
    /*top*/
      .navigation_container{
        width: 100vw;
      }
      
      .navigation_title{
        margin-right: 700px;
        padding:0;
      }
      .navigation_menu{
        display: none;
      }
      .navigation_search{
        margin-right: 150px;
        padding:0;
      }

      /*hero images*/
      .hero-images-container, .hero_images{
        width: 100%;
        height: 377px;
        margin:30px 0 30px 55px;
      }
      
      .images_box{
        height: 377px;
      }
      
      .box1{
        width: 380px;
        height: 350px;
      }

      .box1 img{
        width: 100%;
        height: 100%;
      }

      .box2, .box3, .box4, .box5{
        width: 245px;
        height: 165px;
      }
      
      .box2 img,.box3 img,.box4 img, .box5 img{
        width:100%;
        height: 100%;
      }

      .category{
        margin: 10px 0 0 10px;
      }
      /* sidebar*/
      .sidebar_container{
        display: none;
      }
      /*articles*/
      .main_aricles {
        margin: 0 120px 0 230px;
      }
      .article1, .article2, .article3, .article4, .article5, .article_images_container, .article_images{
        min-width: 640px;
        max-height: 370px;
      }

      .description_article-1, .description_article-2, .description_article-3,.description_article-4, .description_article-5{
        width: 600px;
        height: 200px;
        top: 270px;
      }

      .description_article-1 h2 , .description_article-2 h2,.description_article-3 h2, .description_article-4 h2, .description_article-5 h2{
        width: 550px;
        padding-top:40px;
        font-size: 20px;
      }

      .description_article-1 h6 , .description_article-2 h6,.description_article-3 h6, .description_article-4 h6, .description_article-5 h6{
        font-size: 12px;
      }

      .description_article-1 h5 , .description_article-2 h5,.description_article-3 h5, .description_article-4 h5, .description_article-5 h5{
        font-size:13px;
        height:50px;
        line-height: 20px;
        width: 580px;
      }

      /*pagination*/
      .pagination_container{
        margin-left:200px ;
      }

      /*most popular*/
    .title_most_popular_post{
      margin-left: 120px;
    }

    .most_popular_posts{
      width: 800px;
     margin: 10px 110px 0 110px;
    }

    .post{
      max-width: 200px;
      max-height: 160px;
      margin: 0 10px;
    }

    .popular_images{
      width: 100%;
      height: 100%;
    }

    .post h2{
      font-size: 15px;
    }

    .post h6{
      font-size: 12px;
      height: 12px;
    }

     /*footer*/
     .recent_post_container{
       display: none;
     }

     .logotype_and_icons{
       margin-right: 240px;
     }

     .footer_copy{
       margin-right: 190px;
     }
    }

  
  
  /* 
    ##Device = Tablets, Ipads (landscape)
    ##Screen = B/w 768px to 1024px
  */
  
  @media (min-width: 768px) and (max-width: 1023px) and (orientation: landscape) {
    
<<<<<<< HEAD

=======
>>>>>>> 62304b00eaaa9faae042ebacc657cb55ed2c0589
    
    
  }
  
  /* 
    ##Device = Low Resolution Tablets, Mobiles (Landscape)
    ##Screen = B/w 481px to 767px
  */
  
  @media (min-width: 481px) and (max-width: 767px) {
    
<<<<<<< HEAD
    /*top*/
    .navigation_container{
      width: 100vw;
    }
    
    .navigation_title{
      margin-right: 700px;
      padding:0;
    }
    .navigation_menu{
      display: none;
    }
    .navigation_search{
      margin-right: 150px;
      padding:0;
    }

    /*hero images*/
    .hero-images-container, .hero_images{
      width: 100%;
      height: 377px;
      margin:30px 0 30px 55px;
    }
    
    .images_box{
      height: 377px;
    }
    
    .box1{
      width: 380px;
      height: 350px;
    }

    .box1 img{
      width: 100%;
      height: 100%;
    }

    .box2, .box3, .box4, .box5{
      width: 245px;
      height: 165px;
    }
    
    .box2 img,.box3 img,.box4 img, .box5 img{
      width:100%;
      height: 100%;
    }

    .category{
      margin: 10px 0 0 10px;
    }
    /* sidebar*/
    .sidebar_container{
      display: none;
    }
    /*articles*/
    .main_aricles {
      margin: 0 120px 0 230px;
    }
    .article1, .article2, .article3, .article4, .article5, .article_images_container, .article_images{
      min-width: 640px;
      max-height: 370px;
    }

    .description_article-1, .description_article-2, .description_article-3,.description_article-4, .description_article-5{
      width: 600px;
      height: 200px;
      top: 270px;
    }

    .description_article-1 h2 , .description_article-2 h2,.description_article-3 h2, .description_article-4 h2, .description_article-5 h2{
      width: 550px;
      padding-top:40px;
      font-size: 20px;
    }

    .description_article-1 h6 , .description_article-2 h6,.description_article-3 h6, .description_article-4 h6, .description_article-5 h6{
      font-size: 12px;
    }

    .description_article-1 h5 , .description_article-2 h5,.description_article-3 h5, .description_article-4 h5, .description_article-5 h5{
      font-size:13px;
      height:50px;
      line-height: 20px;
      width: 580px;
    }

    /*pagination*/
    .pagination_container{
      margin-left:200px ;
    }

    /*most popular*/
  .title_most_popular_post{
    margin-left: 120px;
  }

  .most_popular_posts{
    width: 800px;
   margin: 10px 110px 0 110px;
  }

  .post{
    max-width: 200px;
    max-height: 160px;
    margin: 0 10px;
  }

  .popular_images{
    width: 100%;
    height: 100%;
  }

  .post h2{
    font-size: 15px;
  }

  .post h6{
    font-size: 12px;
    height: 12px;
  }

   /*footer*/
   .recent_post_container{
     display: none;
   }

   .logotype_and_icons{
     margin-right: 240px;
   }

   .footer_copy{
     margin-right: 190px;
   }
  }
=======
>>>>>>> 62304b00eaaa9faae042ebacc657cb55ed2c0589
    
  }
  
  /* 
    ##Device = Most of the Smartphones Mobiles (Portrait)
    ##Screen = B/w 320px to 479px
  */
  
  @media (min-width: 320px) and (max-width: 480px) {
    
   
    
  }